{% extends 'menu/main.html.twig' %}

{% block title %}Deux-Sèvres en commun{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card w-50 mx-auto bg-dark shadow-lg text-white mt-5 mb-5" style="margin-bottom: 20px">
                    <div class="card-header text-center">
                        <h3>{{'Connexion'}}</h3>
                    </div>

                    {% if error %}
                        <div>{{ error.messageKey(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="card-body">
                        <form action="{{ path('app_login_check') }}" method="post">
                            <div class="form-group w-75 mx-auto">
                                <label>{{"Adresse mail"}}</label>
                                <input type="email" required name="_username" value="{{ last_mail }}" class="form-control" placeholder="machin@domaine.fr">
                            </div>
                            <div class="form-group w-75 mx-auto">
                                <label>{{'Mot de passe'}}</label>
                                <input type="password" name="_password" class="form-control" placeholder="">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">{{'Se Connecter'}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}